@model PetGroomingApplication.Models.Groomer

@{
    ViewBag.Title = "Delete";
    ViewBag.targetMenu = "groomers";
}

<div>
    <i class="glyphicon glyphicon-menu-left"></i>
    @Html.ActionLink("Back to List", "Index")
</div>
<div class="padding-10"></div>
<h4>Erase Groomer account</h4>
<hr />

<div class="col-md-6">
    @if (ViewData.ModelState.IsValid)
    {
        <div class="bg-warning padding-10">Are you sure you want to delete this position?</div>
    }
    else { 
        <div class="panel panel-danger">
            <div class="panel-heading">An error occur</div>
            @Html.ValidationSummary(true, "", new { @class = "panel-body" })
        </div>
    }
    <dl class="dl-horizontal padding-10">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartWorkingTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartWorkingTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndWorkingTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndWorkingTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Specializing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specializing)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary text-uppercase" />
        </div>
    }
</div>
