@model PetGroomingApplication.Models.GroomerRegisterViewModel

@{
    ViewBag.Title = "Groomer Register";
    ViewBag.targetMenu = "groomers";
}

<div class="form-horizontal col-md-6">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        <h4>New Groomer</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartWorkingTime, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.StartWorkingTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StartWorkingTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndWorkingTime, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.EndWorkingTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EndWorkingTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Specializing, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.EnumDropDownListFor(model => model.Specializing, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Specializing, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        @*
            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>
        *@

        <div class="form-group">
            <div class="col-md-offset-3 col-md-8">
                <input type="submit" value="Create" class="btn btn-primary text-uppercase" />
            </div>
        </div>

     }
</div>

<div class="col-md-12">
     <div class="padding-10"></div>
     <div>
        <i class="glyphicon glyphicon-menu-left"></i>
        @Html.ActionLink("Back to Groomer List", "Index")
    </div>
</div>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
